<div class="container mb-20">
  <h1 class="text-center mb-4 bg-black p-4 text-white fw-bolder">Rental</h1>

  <div class="mb7">
    <label for="exampleInputPassword1" class="form-label">RENTAL id</label><br>
    <input type="Item" class="form-control" id="exampleInputItem1">
  </div>

  <div class="mb7">
    <label for="exampleInputPassword1" class="form-label">RETURN DATE</label><br>
    <input type="Name" class="form-control" id="exampleInputName1">
  </div>

  <div class="mb7">
    <label for="exampleInputPassword1" class="form-label">Due Date</label><br>
    <input type="Name" class="form-control" id="exampleInputName1">
  </div>
  <div class="mb7">
    <label for="exampleInputPassword1" class="form-label">Total Cost</label><br>
    <input type="Name" class="form-control" id="exampleInputName1">
  </div>



  <div class="mb7">
    <label for="exampleInputPassword1" class="form-label">Fine Per Day</label><br>
    <input type="Name" class="form-control" id="exampleInputName1">
  </div>

  <div class="mb7">
    <label for="exampleInputPassword1" class="form-label">Availiability</label><br>
    <input type="Name" class="form-control" id="exampleInputName1">
  </div>


  <button type="button" class="btn btn-primary">Add</button>
  <button type="button" class="btn btn-secondary">Update</button>
  <button type="button" class="btn btn-success">Delete</button>
  <button type="button" class="btn btn-danger">Search</button>

</div>
