<div class="container mb-20">
  <h1 class="text-center mb-4 bg-black p-4 text-white fw-bolder">Sample Bill</h1>

  <div class="mb7">
    <label for="example" class="form-label">Customer Name :John Doe</label><br>
    <label for="example" class="form-label">Rental Item :Hammer Drill</label><br>
    <label for="example" class="form-label">Rental Start Date : 2023.10.01</label><br>
    <label for="example" class="form-label">Expected Return Date: 2023-10-10</label><br>
    <label for="example" class="form-label">Total Amout:$50.00</label><br>
  </div>


<div>
  <button type="button" class="btn btn-primary">EDIT BILL</button>M
  <button type="button" class="btn btn-secondary">DELETE BILLL</button>
</div>

